<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #222;"></span>
		<span class="sg-label">#222</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #333;"></span>
		<span class="sg-label">#333</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #555;"></span>
		<span class="sg-label">#555</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #777;"></span>
		<span class="sg-label">#777</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #eee;"></span>
		<span class="sg-label">#eee</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #dd3333;"></span>
		<span class="sg-label">Primary</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #99ce30;"></span>
		<span class="sg-label">Success</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #369292;"></span>
		<span class="sg-label">Info</span>
	</li>
		<li>
		<span class="sg-swatch" style="background: #dd8033;"></span>
		<span class="sg-label">Warning</span>
	</li>
		<li>
		<span class="sg-swatch" style="background: #dd3333;"></span>
		<span class="sg-label">Danger</span>
	</li>
</ul>